<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Personal Blog</title>
</head>
<body>
<h1>Personal Blog 관리자 페이지</h1>
<form th:action="@{'/logout'}" method="post">
    <input type="hidden" name="csrfToken" th:value="${csrfToken}" />
    <button type="submit">로그아웃</button>
</form>
<a th:href="@{/admin/create}">추가</a>
<ul th:each="article: ${articles}">
    <li>
        <a th:href="@{'/articles/' + ${article.id}}" th:text="${article.title}"></a>
        <span th:text="${article.publishedDate}"></span>
        <span><a th:href="@{'/admin/update/' + ${article.id}}">수정</a></span>
        <form th:action="@{'/admin/delete/' + ${article.id}}" method="post">
            <input type="hidden" name="csrfToken" th:value="${csrfToken}" />
            <button type="submit">삭제</button>
        </form>
    </li>
</ul>
</body>
</html>